<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Market Sentiment</title>
    <link rel="icon" href="{{ request.host_url.rstrip('/') + url_for('client.favicon') }}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body class="bg-dark text-light">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-success p-2 px-3">

        <div class="navbar-brand">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-newspaper"
                viewBox="0 0 16 16">
                <path
                    d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5v-11zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5H12z" />
                <path
                    d="M2 3h10v2H2V3zm0 3h4v3H2V6zm0 4h4v1H2v-1zm0 2h4v1H2v-1zm5-6h2v1H7V6zm3 0h2v1h-2V6zM7 8h2v1H7V8zm3 0h2v1h-2V8zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1z" />
            </svg>
            <span style="margin-left: 5px;">Market Sentiment</span>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse justify-content-stretch links" id="navbarCollapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/Eric-exe/Market-Sentiment" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-github" viewBox="0 0 16 16">
                            <path
                                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z">
                            </path>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Main -->
    <div class="container">
        <div class="row">
            <div class="col--12">
                <h3 class="text-center mt-5">Market Sentiment - How it works</h3>
                <hr class="bg-light">
                The biggest challenge when creating this app was to find a way to measure the sentiment of the market through
                the news. Originally, I wanted to use finBERT, a pretrained model that can be used to analyze financial text.
                However, I also wanted to create a web app that can be used by anyone. It has to be hosted on a server and
                most, if not all, pretrained models are too large to be hosted on a free server. Therefore, I decided to
                use the Marketaux API to request the news for the last 14 days.
                <br><br>
                The Marketaux API is a free API that provides financial news from various sources. It also provides a sentiment
                score for each article. The sentiment score is a number between -1 and 1, where -1 is very negative and 1 is
                very positive. It did most of the heavy lifting for me. All I had to do was to request the news with a GET request.
                However, the API is not free. It only allows 100 requests per day. I had to find a way to calculate the sentiment
                of each stock with the least amount of requests. In the end, this is what I came up with:
                <hr>
                1. Send 6 requests to the API for each ticker. Each request has a sentiment range:
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-dark text-light">Weak Positive: 0.15 to 0.39</li>
                    <li class="list-group-item bg-dark text-light">Moderate Positive: 0.4 to 0.69</li>
                    <li class="list-group-item bg-dark text-light">Strong Positive: 0.7 to 1</li>
                    <li class="list-group-item bg-dark text-light">Weak Negative: -0.15 to -0.39</li>
                    <li class="list-group-item bg-dark text-light">Moderate Negative: -0.4 to -0.69</li>
                    <li class="list-group-item bg-dark text-light">Strong Negative: -0.7 to -1</li>
                </ul>
                <br>
                2. Get the news count per sentiment range.
                <br><br>
                3. Calculate the sentiment score for each ticker by using this formula:
                <div class="card m-2">
                    <div class="card-body  bg-dark text-light border-secondary p-0">
                        <pre class="mb-0">

    raw_sentiment_score = 
        (weak_positive_news_count) * 1 + (moderate_positive_news_count) * 2 + (strong_positive_news_count) * 3 + 
        (weak_negative_news_count) * -1 + (moderate_negative_news_count) * -2 + (strong_negative_news_count) * -3
    

    adjusted_sentiment_score =
        raw_sentiment_score /
            ( 
                (weak_positive_news_count + weak_negative_news_count) * 1 + 
                (moderate_positive_news_count + moderate_negative_news_count) * 2 +
                (strong_positive_news_count + strong_negative_news_count) * 3 +
                100 (bayesian extra value)
            )
                        </pre>
                    </div>
                </div>
                I added the extra bayesian values to prevent stocks with lower news count from having a higher sentiment score
                than stocks with higher news count.
                <hr>
                <div class="text-center">
                    The source code can be found 
                    <a href="https://github.com/Eric-exe/Market-Sentiment" target="_blank">here</a>.
                </div>
            </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>